{% extends "base.j2" %}
{% block content %}
<div class="header">
    <img class="header-img" src="img/logo.png">
</div>
<div class="container">
    <div class="content">
        <h1>PROJECTS</h1>
        <div class="projects">
        {% for project in projects %}
            <div class="project">
                <h2>{{ project["title"] }} <span class="game">{{  project["category"] }}</span> <span class="year">{{ project["year"] }}</span></h1>
                <p class="description">{{ project["description"] }}</p>

                {% if project["downloads"] %}
                <i class="fas fa-file-download"></i>
                    Downloads:
                    {% for download in project["downloads"] %}
                        <a href="{{ download["url"] }}"> {{ download["name"] }}</a>
                    {% endfor %}
                {% endif %}
                
                {% if project["links"] %}
                    Links:
                    {% set comma = joiner() %}
                    {%- for link in project["links"] -%}
                        {{comma()}}<a href="{{ link["url"] }}"> {{ link["name"] }}</a>
                    {%- endfor -%}
                    <br>
                {% endif %}

                {% if project["tools"] %}
                    Tools:
                    {% set comma = joiner() %}
                    {%- for tool in project["tools"] -%}
                        {{comma()}}{{ tool }}
                    {%- endfor -%}
                {% endif %}

                {% if project["images"] %}
                    <details open>
                        <summary>Images:</summary>
                        <div class="image-row">
                        {%- for image in project["images"] -%}
                            <a href={{ image }} target="_blank"><img class="image-row-item" src="{{ image }}"></a>
                        {%- endfor -%}
                        </div>
                    </details>
                {% endif %}
            </div>
            {% if not loop.last %}
            <hr>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
